.loginContainer {
    display: flex;
    background: #F2F6F6 0% 0% no-repeat padding-box;
    opacity: 1;
    height: 100vh;
}

.loginDrawer .MuiPaper-root {
    border-radius: 20px 20px 0px 0px;
}

.textStyle {
    font-size: 12px !important;
    padding: "0 0 1em 0";
}

.Logo {
    margin: "auto 0"
}

.linkStyle {
    color: #4C8B92;
    font-size: 12px !important;
}

.loginButton {
    background-color: #4C8B92 !important;
    text-transform: none;
    border-radius: 20px !important;
    height: 40px;
    font-size: 14px;
}

.inputField .MuiInputBase-root {
    border-radius: 20px;
    box-shadow: inset 0px 3px 6px #00000029;
    border: 1px solid #CCCCCC;
}

.inputField .MuiOutlinedInput-root.Mui-focused fieldset {
    border: 1px solid #CCCCCC;
    border-radius: 20px;
}