@media only screen and (max-width: 768px) {
.typographyFontWeight {
    font-weight: 500 !important;
}

.headingFontWeight {
    font-weight: 600 !important;
}

.attachmentTextStyle {
    font-weight: 500 !important;
    color: #4C8B92;
    text-decoration: underline;
    cursor: pointer;
}

.mobileCategoryChecklistContainer {
    border: 1px solid #EBEBEB;
    border-radius: 10px;
    padding: 8px 24px;
    background-color: #FFFFFF;
    margin: 0px 20px;
    box-sizing: border-box;
    height: 82vh;
    overflow: auto;
    scrollbar-width: none;
}

.mobileChoiceButton{
    color: #00060A !important;
    text-transform: none;
    border: 1px solid #CCCCCC !important;
    border-radius: 20px !important;
    flex-grow: 1;
    height: 40px;
    width: 100%;
}

.mobileChoiceButton:hover {
    border: 1px solid #CCCCCC;
}

.attchmentsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    background: #EBEBEB 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    height: 23px;
    cursor: pointer;
}

.mobileAttachmentContainer {
    display: flex;
    flex-wrap: wrap;
    column-gap: 8px;
    row-gap: 8px;
}

.attachmentItems {
    display: flex;
    justify-content: space-between;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #CCCCCC;
    border-radius: 6px;
    opacity: 1;
    padding: 5px;
    width: 100%;
}

.attchmentImage {
    width: 50px;
    height: 35px;
    border-radius: 8px;
}

.imageContainer {
    display: flex;
    column-gap: 12px;
    align-items: center;
}

.imageDownload {
    display: flex;
    align-items: center;
    margin-right: 8px;
    cursor: pointer;
}

.multilineInput .MuiInputBase-root {
    border-radius: 10px;
}

.multilineInput .MuiOutlinedInput-root.Mui-focused fieldset{
    border: 1px solid #CCCCCC;
    border-radius: 10px;
}

.correctiveActionField .MuiInputBase-root {
    border-radius: 6px;
}

.correctiveActionField .MuiOutlinedInput-root.Mui-focused fieldset {
    border: 1px solid #CCCCCC;
    border-radius: 6px;
}

.correctiveActionsContainer {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 2px 1px 4px #00000029;
    border-radius: 6px;
    opacity: 1;
    padding: 8px;
}

.correctiveActions {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #EBEBEB;
    border-radius: 6px;
    opacity: 1;
    padding: 12px;
    margin-bottom: 4px;
}

.iconsContainer {
    box-shadow: 0px 1px 3px #00000029;
    border-radius: 0px 0px 10px 10px;
    opacity: 1;
    width: 100px;
    display: flex;
    justify-content: center;
    column-gap: 8px;
    margin-left: 60%;
}

.mobileSaveButton {
    border: 1px solid #4C8B92 !important;
    border-radius: 20px !important;
    height: 40px;
    color: #4C8B92 !important;
    width:100%;
}

.mobileNextSubmitButton {
    background-color: #4C8B92 !important;
    border-radius: 20px !important;
    height: 40px;
    width:100%
}

.iconContainer {
    box-shadow: 0px 1px 3px #00000029;
    border-radius: 0px 0px 10px 10px;
    opacity: 1;
    width: 100px;
    display: flex;
    justify-content: center;
    column-gap: 8px;
    margin-left: 60%;
}
}