.mapSearchfield {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 3px 6px #00000029;
    border: 1px solid #CCCCCC;
    border-radius: 20px;
    opacity: 1;
    height: 40px;
    width: 680px;
    padding-left: 20px;
    outline: none;
}
/* 
.mapSearchfield:focus {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 3px 6px #00000029;
    border: 1px solid #CCCCCC;
    border-radius: 20px;
    opacity: 1;
    height: 40px;
    width: 100%;
    padding-left: 20px;
} */

.inputContainer {
    /* min-width: 100%; */
    padding: 10px 20px;
}