.inputFields .MuiInputBase-root {
    border-radius: 20px !important;
    box-shadow: inset 0px 3px 6px #00000029;
    border: 1px solid #CCCCCC;
}

.inputFields .MuiOutlinedInput-root {
    border-radius: 20px ;
    box-shadow: inset 0px 3px 6px #00000029;
    border: 1px solid #CCCCCC;
    height: 40px;
}

.inputFields .MuiOutlinedInput-root.Mui-focused fieldset {
    border: 1px solid #CCCCCC;
    border-radius: 20px !important;
}

.tableFields .MuiInputBase-root {
    border-radius: 20px ;
    height: 40px;
    border: 1px solid #CCCCCC;
}

.tableFields .MuiOutlinedInput-root.Mui-focused fieldset {
    border: 1px solid #CCCCCC;
    border-radius: 20px;
}

.addButtonContainer {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    padding: 16px;
    background: #EBEBEB;
    border-radius: 6px;
    opacity: 1;
    height: 23px;
    max-width: '140px';
    cursor: pointer;
}

.typographyFontWeight {
    font-weight: 500 !important;
    color: #00060A !important;
}