.mapSearchfield {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 3px 6px #00000029;
    border: 1px solid #CCCCCC;
    border-radius: 20px;
    opacity: 1;
    height: 40px;
    width: 30%;
    padding-left: 20px;
    outline: none;
}

.gm-style div {
    width: 100% !important;
}

.mapContainer div {
    border-radius: 10px;
}

.inputContainer {
    /* min-width: 100%; */
    padding: 10px 20px;
}