name: Deploy Frontend to QA

on:
  push:
    branches:
      - feature/Healthcare

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy on QA server
        run: |
          set -e
          whoami
          hostname

          cd /home/karthik

          if [ ! -d "AIS-HealthCare" ]; then
            git clone https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/saichithra123/AIS-HealthCare.git
          fi

          cd AIS-HealthCare
          git pull origin ${{ github.ref_name }}

          docker stop healthcare-frontend || true
          docker rm healthcare-frontend || true

          docker build -t healthcare-frontend .

          docker run -d \
            --name healthcare-frontend \
            -p 3000:80 \
            healthcare-frontend
