.contentHeading {
    font-size: 12px !important;
    color: #6A6969 !important;
}

.contentBody {
    font-size: 14px !important;
    font-weight: 600 !important;
    color: #00060A !important;
}

.css-1160xiw-MuiPaper-root-MuiDrawer-paper {
    border-radius: 30px 0px 0px 30px !important;
}

.assignContainer {
    width: 520px;
    border-radius: 30px 0px 0px 30px;
    padding: 32px 24px 32px 24px;
    overflow: auto;
    scrollbar-width: none;
}

.newCaseFields .MuiInputBase-root {
    border-radius: 20px ;
    box-shadow: inset 0px 3px 6px #00000029;
    border: 1px solid #CCCCCC;
    height: 40px;
}

.newCaseFields .MuiOutlinedInput-root.Mui-focused fieldset {
    border: 1px solid #CCCCCC;
    border-radius: 20px;
}