.newCaseFields .MuiInputBase-root {
    border-radius: 20px ;
    box-shadow: inset 0px 3px 6px #00000029;
    border: 1px solid #CCCCCC;
    height: 40px;
}

.newCaseFields .MuiOutlinedInput-root.Mui-focused fieldset {
    border: 1px solid #CCCCCC;
    border-radius: 20px;
}

.typographyFontWeight {
    font-weight: 500 !important;
    color: #00060A !important;
}

.addPreInspectionContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    background: #EBEBEB 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    height: 23px;
    cursor: pointer;
    width: 180px;
}

.preInspectionContainer {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 2px 1px 4px #00000029;
    border-radius: 20px !important;
    opacity: 1;
    padding: 1px 24px;
    display: flex;
    align-items: center;
}

.preInspectionField .MuiInputBase-root {
    height: 28px;
    border-radius: 20px !important;
}

.preInspectionField .MuiOutlinedInput-root.Mui-focused fieldset {
    border: 1px solid #CCCCCC;
    border-radius: 20px;
}

.preInspectionIconContainer {
    box-shadow: 0px 1px 3px #00000029;
    border-radius: 0px 0px 10px 10px;
    opacity: 1;
    width: 100px;
    display: flex;
    justify-content: center;
    column-gap: 8px;
    margin-left: 85%;
}