.component-edit-container{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.component-edit-container .row{
    display: flex;
    gap: 20px;
}
.component-edit-container .row .float-end a{
    display: none;
}
.component-edit-container .row .col{
    flex: 1;
}
.component-edit-container .btn{
    color: white;
    font-size: 16px;
    margin-bottom: 20px;
}
.btn-success{
    background-color: #28a745;
    border: transparent;
    border-radius: 4px;
    padding: 6px 15px;
}
.btn-secondary{
    background-color: #5a6268;
    border: transparent;
    border-radius: 4px;
    padding: 6px 15px;
}
.btn-danger{
    background-color: #dc3545;
    border: transparent;
    border-radius: 4px;
    padding: 6px 15px;
}
.btn-primary{
    background-color: #0069d9;
    border: transparent;
    border-radius: 4px;
    padding: 6px 15px;
}
.component-edit-container .formio-component-panel{
    background-color: #f1f1f1;
    margin-bottom: 4px;
    border-radius: 4px;
    /* border: 1px solid #dedada; */
}
.component-edit-container .formio-component-panel .card .card-header{
    padding: 10px;
}
.component-edit-container .formio-component-panel .card-body .table{
    border-collapse: collapse;
    width: 100%;
}
.component-edit-container .formio-component-panel .card-body th, td{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.component-edit-container .formio-component-panel .card-body{
  padding: 10px;
  background-color: white;
}
.component-edit-container .formio-component-panel .card-body tr:nth-child(odd) {
  background-color: #f6f6f6;
}
.preview-panel .card-body{
    background-color: white;
    padding: 20px;
}
.component-edit-container .formio-form-group ul{
    list-style: none;
    padding-left: 0;
    border: 1px solid #dedada;
    border-radius: 5px;
}
.component-edit-container .formio-form-group ul li{
    padding: 20px;
    border-bottom: 1px solid #dedada;
}
.component-edit-container .formio-form-group ul li .row{
    display: flex;
    justify-content: space-between;
}
.component-edit-container .formio-form-group ul li .row .btn-default{
    color: black;
    border: none;
    padding: 6px;
    border-radius: 4px;
}
.component-edit-container .row .col .lead{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}
.preview-panel .card-header{
    font-size: 20px;
    font-weight: 500;
    padding: 20px;
}
.preview-panel{
    border: 1px solid #dedada;
    border-radius: 4px;
}
.component-edit-container .alert-info{
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}
.component-edit-tabs .card-header ul{
    flex-wrap: wrap;
}
.component-edit-tabs .card-header ul li{
    margin-bottom: 10px;
}