.builder-component ul{
    list-style: none;
    padding: 0;
    border: 1px solid #f2f2f2;
    border-radius: 6px;
}
.builder-component ul div{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.builder-component .alert-warning p{
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
    padding: 20px;
    border-radius: 4px;
}