.tab-component-tabs {
    display: flex !important;
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid lightgray;
}
.tab-component-tabs .nav-item {
    margin-right: 2px;
    border: 1px solid lightgray;
    border-bottom: none;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    overflow: hidden;
}
.tab-component-tabs .nav-item:last-child {
    margin-right: 0;
}

.tab-component-tabs .nav-link {
    display: block;
    text-align: center;
    padding: 10px 16px;
    background-color: #f9f9f9;
    color: #000;
    font-weight: 500;
    border-radius: 0;
    transition: background-color 0.2s ease-in-out;
    text-decoration: none;
}

.tab-component-tabs .nav-link.active {
    background-color: #4C8B92;
    color: white;
}

.card-body.tab-pane {
    border: 1px solid lightgray;
    border-top: none;
    padding: 16px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.tab-pane .builder-components.drag-container:hover {
    padding: 0 !important;
}


.formio-component-htmlelement,
.formio-component-content {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  box-shadow: inset 0px 3px 6px #00000029;
  border-radius: 20px;
  padding: 12px 16px;
  font-size: 14px;
  color: #161719;
  margin-bottom: 16px;
  word-break: break-word;
}

.formio-component-columns .row {
    display: flex;
    gap: 16px;
    margin-bottom: 20px;
  }

  .formio-component-columns .col {
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: inset 0px 3px 6px #00000029;
    border-radius: 20px;
    padding: 16px;
    width: 100%;
  }

  .drag-and-drop-alert {
    font-size: 14px;
    font-weight: 500;
    color: #666;
    background: #f8f9fa;
    border: 1px dashed #ccc;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 16px;
  }

.formio-component-fieldset fieldset {
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: inset 0px 3px 6px #00000029;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
  }

.formio-component-columns.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
  box-sizing: border-box;
}

.formio-component-columns .col-md-6 {
  flex: 0 0 50%;
  max-width: 50%;
  padding-left: 8px;
  padding-right: 8px;
  box-sizing: border-box;
}

.formio-component-columns .alert {
  padding: 12px;
  background-color: #e9ecef;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  text-align: center;
  color: #333;
  font-size: 14px;
}

.formio-component-columns .builder-components {
  width: 100%;
  height: 100%;
}

.formio-component-columns .col-md-6:nth-child(1) {
  background-color: #f0f8ff;
}
.formio-component-columns .col-md-6:nth-child(2) {
  background-color: #f5f5dc;
}

@media (max-width: 767px) {
  .formio-component-columns .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.fieldset-body {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .formio-component-fieldset .drag-and-drop-alert {
    font-size: 14px;
    font-weight: 500;
    color: #666;
    background: #f8f9fa;
    border: 1px dashed #ccc;
    border-radius: 12px;
    padding: 20px;
    margin-top: 10px;
  }
  

.formio-component.formio-component-panel.formio-component-panel:not(.formio-component-tabs)>.card>.card-header {
    background-color: #92C7CF;
    border: 1px solid lightgray;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 12px 16px;
    margin-bottom: 16px;
}

.formio-component-table table {
    width: 100%;
    border-collapse: collapse;
    font-family: Roboto, Helvetica, Arial;
    font-size: 0.875rem;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

.formio-component-table table tbody tr:first-child {
    background-color: #92C7CF;
    font-weight: 600;
    color: #1a1a1a;
    border-bottom: 1px solid #e0e0e0;
    border-top-right-radius: 12px;
}

.formio-component-table .table tbody tr:first-child td:first-child {
    border-top-left-radius: 12px;
    overflow: hidden;
}

.formio-component-table .table tbody tr:first-child td:last-child {
    border-top-right-radius: 12px;
    overflow: hidden;
}

.formio-component-table .table tbody tr:not(:first-child) td {
    background-color: transparent;
}

.formio-component-table.no-top-border-table>table {
    border-collapse: separate;
    border-spacing: 0 3px;
    width: 100%;
}

.formio-component-table.no-top-border-table>table>tbody>tr:first-child>td:first-child {
    border-top-left-radius: 12px;
    border: 1px solid #ccc;
}

.formio-component-table.no-top-border-table>table>tbody>tr:first-child>td:last-child {
    border-top-right-radius: 12px;
    border: 1px solid #ccc;
}

.formio-component-table.no-top-border-table>table>tbody>tr:first-child>td:not(:first-child):not(:last-child) {
    border: 1px solid #ccc;
}

.formio-component-table.no-top-border-table>table>tbody>tr:not(:first-child)>td {
    border-bottom: 1px solid #ccc;
}

.formio-component-table.no-top-border-table>table>tbody>tr:not(:first-child)>td:first-child {
    border-left: 1px solid #ccc;
    border-right: none;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
}

.formio-component-table.no-top-border-table>table>tbody>tr:not(:first-child)>td:last-child {
    border-right: 1px solid #ccc;
    border-left: none;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
}

.formio-component-table.no-top-border-table>table>tbody>tr:not(:first-child)>td:not(:first-child):not(:last-child) {
    border-left: none;
    border-right: none;
    border-radius: 0;
}

