
.formbuilder .formio-component-hidden{
width: auto;
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #CCCCCC;
    box-shadow: inset 0px 0px 6px #00000029;
    border-radius: 20px;
    opacity: 1;
    padding: 8px 12px;
    font-size: 14px;
    outline: none;
}



.builder-components.drag-container.formio-builder-container {
  width: 100%;
  min-height: 40px;  
  background: #F2F6F6;
  border: 1px solid #CCCCCC !important;
  box-shadow: inset 0px 0px 6px #00000029;
  border-radius: 20px;
  opacity: 1;
  padding: 8px 12px;
  font-size: 14px;
  outline: none;
  display: flex;
  flex-direction: column; 
  gap: 10px; 
}

  
.formio-component-datagrid .datagrid-table {
  border-collapse: collapse !important;

  width: 100% !important;

  background: #FFF !important;

  box-shadow: none !important;
  box-shadow: inset 0 0px 6px #00000029;
    border:1px solid #CCCCCC

}
 


.formio-component-datagrid .datagrid-table td,
.formio-component-datagrid .datagrid-table tr {
  border: 1px solid #ddd !important;
  box-shadow: inset 0 0 6px #00000029 !important;
}
 
.formio-component-datagrid .datagrid-table input  {

  width: 100% !important;
  box-sizing: border-box;

}

 .builder-components.drag-container.formio-builder-editgrid {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #CCCCCC !important;
  box-shadow: inset 0px 0px 6px #00000029;
  border-radius: 20px;
  opacity: 1;
  padding: 8px 12px;
  font-size: 14px;
  outline: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}



