.sidebarContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100% !important;
}

.signoutContainer {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 8px #00000029;
    border-radius: 2px 10px 10px 2px;
    opacity: 1;
    padding: 4px 16px 4px 16px;
    display: flex;
    align-items: center;
    column-gap: 48px;
}