.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F2F6F6 0% 0% no-repeat padding-box;
    opacity: 1;
    height: 100vh;
}

.loginInnerContainer {
    background: #ffffff 0% 0% no-repeat padding-box;
    backdrop-filter: blur(50px);
    border-radius: 14px;
    opacity: 1;
    height: 90%;
    padding: 32px;
    margin: 32px;
    z-index: 1;
}

.loginRightContainer {
    justify-content: center;
    border-left: 1px solid #EBEBEB;
    opacity: 1;
    padding-left: 160px;
    padding-right: 128px;
}

.textStyle {
    font-size: 12px !important;
}

.linkStyle {
    color: #4C8B92;
    font-size: 12px !important;
}

.loginButton {
    background-color: #4C8B92 !important;
    text-transform: none;
    border-radius: 20px !important;
    width: 100%;
    height: 40px;
    font-size: 14px;
}

.inputField .MuiInputBase-root {
    border-radius: 20px;
    box-shadow: inset 0px 3px 6px #00000029 ;
    border: 1px solid #CCCCCC;
}

.inputField .MuiOutlinedInput-root.Mui-focused fieldset {
    border: 1px solid #CCCCCC;
    border-radius: 20px;
}