.topbarContainer {
    border-radius: 20px;
    background: #F2F6F6 0% 0% no-repeat padding-box;
    margin: 16px 16px 16px 0px;
    padding: 16px 20px 16px 20px;
    box-shadow: inset 0px 0px 6px #00000029;
    opacity: 1;
}