html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}
img {
  max-width: none !important;
}
/* Hide scrollbar but KEEP scrolling */
html {
  scrollbar-width: none;        /* Firefox */
}

html::-webkit-scrollbar {
  display: none;                /* Chrome, Edge, Safari */
}

body {
  margin: 0;
}
