.caseDetailsContainer {
    width: 520px;
    border-radius: 30px 0px 0px 30px;
    padding: 32px 24px;
    overflow: auto;
    scrollbar-width: none;
}

.headerContainer {
    border-radius: 10px 10px 0px 0px;
    background-color: #C5DBDE;
    padding: 16px;
    justify-content: space-between;
}

.contentHeading {
    font-size: 12px !important;
    color: #6A6969 !important;
}

.contentBody {
    font-size: 14px !important;
    font-weight: 600 !important;
    color: #00060A !important;
}

.linkStyle {
    color: #4C8B92 !important;
    font-weight: 600 !important;
    font-size: 14px;
    text-decoration: underline !important;
    cursor: pointer;
}

.backButton {
    color: #6A6969 !important;
    font-size: 14px !important;
    font-weight: 600 !important;
}

.inspectionContainer {
    border-radius: 20px;
    background: #F2F6F6 0% 0% no-repeat padding-box;
    margin: 16px 16px 16px 0px;
    padding: 16px 20px 16px 20px;
    box-shadow: inset 0px 0px 6px #00000029;
    opacity: 1;
}