.typographyFontWeight {
    font-weight: 500 !important;
}

.headingFontWeight {
    font-weight: 600 !important;
}

.attachmentTextStyle {
    font-weight: 500 !important;
    color: #4C8B92;
    text-decoration: underline;
    cursor: pointer;
}

.categoryContainer {
    background: #F2F6F6 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 4px #00000029;
    border-radius: 10px;
    opacity: 1;
    height: 425px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.categoryItems {
    padding: 8px 16px 8px 32px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.inspectionReportItem {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checklistContainerMobile {
    background: #ffffff 0% 0% no-repeat padding-box;
    /* border: 1px solid #EBEBEB; */
    /* border-radius: 10px; */
    opacity: 1;
    height: 425px;
    overflow: auto;
    scrollbar-width: none;
    /* margin-left: 20px !important; */
    max-width: 100% !important;
    /* padding: 0px 24px; */
}

.checklistContainerMain {
    /* display: block; */
}

.categoryChecklistContainer {
    border: 1px solid #EBEBEB;
    border-radius: 10px;
    padding: 8px 24px;
    background-color: #FFFFFF;
    margin: 0px 20px;
    box-sizing: border-box;
    height: 82vh;
    overflow: auto;
    scrollbar-width: none;
}

.choiceButton {
    color: #00060A !important;
    text-transform: none;
    border: 1px solid #CCCCCC !important;
    border-radius: 20px !important;
    flex-grow: 1;
    height: 40px;
    max-width: unset;
}

.choiceButton:hover {
    border: 1px solid #CCCCCC;
}

.mobileAttachmentContainer {
    display: flex;
    flex-wrap: wrap;
    column-gap: 46px;
    row-gap: 8px;
}

.attchmentsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    background: #EBEBEB 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    height: 23px;
    cursor: pointer;
}

.attachmentContainer {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 8px;
}

.attachmentItem {
    display: flex;
    justify-content: space-between;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #CCCCCC;
    border-radius: 6px;
    opacity: 1;
    padding: 5px;
    width: 230px;
}

.attchmentImage {
    width: 50px;
    height: 35px;
    border-radius: 8px;
}

.imageContainer {
    display: flex;
    column-gap: 12px;
    align-items: center;
}

.imageDownload {
    display: flex;
    align-items: center;
    margin-right: 8px;
    cursor: pointer;
}

.multilineInput .MuiInputBase-root {
    border-radius: 10px;
}

.multilineInput .MuiOutlinedInput-root.Mui-focused fieldset {
    border: 1px solid #CCCCCC;
    border-radius: 10px;
}

.correctiveActionField .MuiInputBase-root {
    border-radius: 6px;
}

.correctiveActionField .MuiOutlinedInput-root.Mui-focused fieldset {
    border: 1px solid #CCCCCC;
    border-radius: 6px;
}

.correctiveActionContainer {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 2px 1px 4px #00000029;
    border-radius: 6px;
    opacity: 1;
    padding: 8px 24px;
}

.correctiveActions {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #EBEBEB;
    border-radius: 6px;
    opacity: 1;
    padding: 12px;
    margin-bottom: 4px;
}

.iconContainer {
    box-shadow: 0px 1px 3px #00000029;
    border-radius: 0px 0px 10px 10px;
    opacity: 1;
    width: 100px;
    display: flex;
    justify-content: center;
    column-gap: 8px;
    margin-left: 80%;
}

.saveButton {
    border: 1px solid #4C8B92 !important;
    border-radius: 20px !important;
    height: 40px;
    color: #4C8B92 !important;
    width:100%;
}

.nextSubmitButton {
    background-color: #4C8B92 !important;
    border-radius: 20px !important;
    height: 40px;
    width:100%
}

.recommendedActionsContainer {
    border: 1px solid #EBEBEB;
    border-radius: 10px;
    padding: 24px;
}

.dateField .MuiInputBase-root {
    border-radius: 20px;
    height: 40px;
}

.dateField .MuiOutlinedInput-root.Mui-focused fieldset {
    border: 1px solid #CCCCCC;
    border-radius: 20px;
}